element.style {
}
.triangle-border.send {
margin-right: 30px;
border:5px solid #3333FF;
}
.triangle-border.receive {
margin-left: 30px;
border:5px solid #0000BB;
}
.triangle-border {
position: relative;
padding: 15px;
margin: 1em 0 3em;
color: #333;
background: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.triangle-border.send::before {
top: 10px;
bottom: auto;
receive: auto;
right: -30px;
border-width: 15px 0 15px 30px;
border-color: transparent #3333FF;
}
.triangle-border.send::after {
top: 16px;
bottom: auto;
receive: auto;
right: -21px;
border-width: 9px 0 9px 21px;
border-color: transparent white;
}
.triangle-border.receive::before {
top: 10px;
bottom: auto;
left: -30px;
border-width: 15px 30px 15px 0;
border-color: transparent #0000BB;
}
.triangle-border::before {
content: "";
position: absolute;
border-style: solid;
display: block;
width: 0;
}
.triangle-border.receive::after {
top: 16px;
bottom: auto;
left: -21px;
border-width: 9px 21px 9px 0;
border-color: transparent white;
}
.triangle-border::after {
content: "";
position: absolute;
border-style: solid;
display: block;
width: 0;
}