
@font-face {
    font-family: "arlrdbd";
    src: url('./arlrdbd.ttf');
}

.logoBlack
{
    font-family: "arlrdbd"; 
    color:#000;
    font-size: 3em;
}

.logo
{
    font-family: "arlrdbd";
    font-size:large;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}

a.Online img { 
	/*background-color: blue;*/
    margin-top:2px;
    height:70px;
    width:70px;
    border-style:solid;
    border-color:blue;
    border-width:5px;
}
a.NotOnline img {
    /*background-color: red;*/
    margin-top:7px;
    margin-left:5px;
    height:70px;
    width:70px;
    border-width:0px;
}
#main h1{
    display: inline-block;
}
#all h1{
    display: inline-block;
}
.header{
    overflow: visible; /* Let menu content overflow outside the header */
}
.header ul ul { /* Menu Item List */
    position: absolute; /* Position absolutely */
    display: none; /* Hide */
    z-index:500; /* Ensure visibility over other elements on page */
    margin-top: 0px; /* Bring menu closer to button; not needed on mobile */
}
.header ul ul li {
    width: 150px; /* Fixed width menu items*/
    display: block; /* JQM makes a inline-blocks... reset it to block */
}
.header ul ul li a {
    white-space: normal; /* Stop long menu names from truncating */
}

.menu-right {
    float: right;
    margin-right:0.5em;
    margin-top:0px;
    margin-bottom:0px;
    padding-left: 0px;
}

div.ui-footer > h2{
    display:inline !important;
}
div.ui-footer > a {
    float:right !important;
}

#imLinkedWelcome .ui-content, #messages .ui-content, #feedback .ui-content  {
    top:47px;
}

.liveMobileImg {
    width:140px; margin-left:-8px; padding-top: 10px; max-width: 100%; max-height: 100%; /*max-height: 100%;*/
}

.ui-simpledialog-container *{
    margin-left:10px;
    margin-right: 10px;
}
.ui-simpledialog-container {
    width:300px !important;
}
.phoneLogin {
    font-style:italic;
    font-size: small;
}
textarea {
    background-color:white; 
}

/*------- text input filed bottom controll ----------*/
.emptyMessages { /*message number 0*/
    min-height:98.5%;
    height:auto !important;
    height:100%;
    margin:0 auto -3em;
}

.gotMessages { /*message number less than 4*/
    min-height:98.5%;
    height:auto !important;
    height:100%;
    margin:0 auto -2em;
}


/*--------------- new message view -------------*/
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }

body {
    /*width: 500px;*/
    /*margin: 20px auto;*/
    height: 100%;
    font: 16px/1.4 Arial, sans-serif;
    background: #f3eee9;
}

p {
    margin: 0 0 1em;
}

.comment {
    width: 98%;
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: 20px; /*controll the line before comments*/
    bottom: 60px; 
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}​

/*--------------- new welcome layouy --------------*/

 .shares {
     float:right;
 }


@media all and (min-width: 1200px){

    .content-secondary {
        text-align: left;
        float: right;
        width: 27%;
        background: none;
        border-top: 0;
    }
    .content-secondary {
        margin: 0px 0 20px 2%;
        padding: 20px 4% 0 0;
            background: none;
    }


    .content-primary {
        width: 65%;
        float: left;
        margin-top: 0px;
        margin-right: 1%;
        padding-right: 1%;
    }
   
}
@media all and (min-width: 750px) and (max-width: 1200px){

    .content-secondary {
        float:left;
    }
    .content-primary {
        margin-top: 20px;
        padding-right: 1%;
    }
}

@media all and (max-width: 749px){

    .content-primary {
        margin-top: 20px;
        width:auto;
        padding-right: 1%;
    }

    .content-secondary {
        display: inline;
    }
}


/*@media all and (min-width: 1200px){
    .content-secondary {
        width: 30%;
        padding-right:6%;
        margin: 30px 0 20px 5%;
    }

    .content-primary {
        width: 50%;
        margin-right: 5%;
        padding-right: 3%;
    }

}*/
/*
/* --------------  feedback dialog -------------*-/
#feedbackLabel {
    text-align: center !important;
}
#feedbackIcon {
    top: -62px; 
    right: 15px; 
    bottom: 124px;
    position: absolute;
}
#userPicture {
    wwrapperidth: 100px;
}
#feedbackUserName {
    margin-left: 14px;
}
#feedbackContent {
    width: 90%; margin-left: 5px; height: 63px;
}
div.submit-container * {
    float:right !important;
    .cancel-container;
}
div.cancel-container * {
    float:left;
}
div.ui-simpledialog-container .ui-header{
    display:none;
}
div.ui-simpledialog-container {
    width:75%;
    height:280px;
}
